body{
  font-family: 'Amatic SC', cursive;
  font-family: 'VT323', monospace;
  font-size: 1.700em;
}

input[type="text"],textarea{
  border-radius: 15%;
  border-color:#7197D2;
}

label {
  width: 27%;
  float: left;
}
